//here is the main scss file for all project and also import the
//typografy and colors
// @import './colors.scss';

//example of typografy
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800&display=swap');

body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  font-weight: 400;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:afeter {
  box-sizing: inherit;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr 200px;
  grid-template-areas: 'header' 'main' 'footer';
  height: 100vh;
}
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: #393939;
  svg {
    padding: 20px;
  }
}

.main {
  grid-area: main;
  background-color: #fff;
  padding: 0 76px 0 76px;
  .card-main {
    .card-list {
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
      grid-auto-rows: 554px;
      grid-gap: 20px;
      .card-view {
        margin: 20px;
        width: 99%;
        .card-cover {
          box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
          height: 87.6%;
          cursor: pointer;
          transition: border 0.2s linear;
          &:hover {
            transition: transform 0.3s ease-out;
            transform: translate(0, -5px);
            height: 87.6%;
          }
        }
        h5 {
          color: #555;
          font-size: 1rem;
          line-height: 1.2;
          margin-bottom: 0;
          .card-title {
            font-weight: 500;
            text-decoration: none;
            color: #555;
            &:hover {
              color: #eb2328;
            }
          }
        }
        .creators {
          margin: 0;
          a {
            margin-right: 4px;
            color: #555;
            font-size: 0.6875rem;
            line-height: 1.2;
            text-decoration: none;
            &:hover {
              color: #eb2328;
            }
          }
        }
      }
    }
  }
}

.footer {
  grid-area: footer;
  background-color: #151515;
  width: 100%;
  height: 200px;
  padding: 80px 0 30px 0;
  &-content {
    width: 1280px;
    margin: 0 auto;
    padding: 0 76px;
    display: flex;
    justify-content: space-between;
    a {
      margin-right: 60px;
      svg {
        width: 80px;
      }
    }
    &-links {
      display: flex;
      &__primary {
        font-weight: 800;
        margin-right: 60px;
      }
      &__secondary {
        font-weight: 100;
        a {
          margin-right: 0;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        li {
          a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8125rem;
            letter-spacing: 1px;
            display: block;
            margin-bottom: 12px;
            &:hover {
              color: #c3c3c3;
            }
          }
        }
      }
    }
    &-promo-links {
      margin-left: 40px;
      margin-right: 40px;
      .footer-content-promotion {
        font-size: 0.875rem;

        a {
          color: #fff;
          text-decoration: none;
          display: flex;
          margin-right: 0;
        }
        &__image {
          img {
            width: 60px;
          }
        }
        &__detail {
          padding-left: 30px;

          h4 {
            font-weight: 300;
            letter-spacing: 2.3px;
            line-height: 1;
            color: #fff;
            margin: 0;
            text-align: left;
            text-transform: uppercase;
          }
          p {
            margin: 0;
            color: #999;
            letter-spacing: 0.5px;
            font-weight: 300;
          }
        }
        &:first-of-type {
          padding-bottom: 30px;
        }
      }
    }
    &-social {
      color: #fff;
      flex-basis: 220px;
      margin-bottom: 40px;
      &__title {
        margin: 0;
      }
      &__links {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: initial;
        margin: 10px 0 0;
        li {
          flex: 0 0 25%;
          margin-top: 20px;
          line-height: 1;
          padding: 0;
          svg {
            fill: #999;
            width: auto;
          }
          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-rows: 100px 1fr 200px;
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    margin: 0 auto;
    width: 1128px;
  }
}

@media only screen and (min-width: 1900px) {
  .main {
    margin: 0 auto;
    width: 1280px;
  }
  .footer {
    &-content {
      width: 1280px;
      margin: 0 auto;
      padding: 0 76px;
    }
  }
}
